name: Build LARS Windows
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install Dependencies
        shell: powershell
        run: |
          # Download and Extract LibTorch
          Invoke-WebRequest -Uri "https://download.pytorch.org/libtorch/cpu/libtorch-win-shared-with-deps-2.1.0%2Bcpu.zip" -OutFile libtorch.zip
          Expand-Archive libtorch.zip -DestinationPath C:\
          # Download JUCE
          git clone --depth 1 https://github.com/juce-framework/JUCE.git C:\JUCE

      - name: Configure CMake
        run: |
          cmake -B build -G "Visual Studio 17 2022" `
          -DCMAKE_PREFIX_PATH="C:/libtorch" `
          -DJUCE_DIR="C:/JUCE" .

      - name: Build
        run: cmake --build build --config Release --target LARS_VST3

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: LARS-Windows-VST3
          path: build/LARS_Artifacts/Release/VST3/LARS.vst3
